<?xml version="1.0"?>
<config>
    <modules>
        <Gbinside_Lazyload>
            <version>0.1.0</version>
        </Gbinside_Lazyload>
    </modules>
    <global>
        <models>
            <gblazyload>
                <class>Gbinside_Lazyload_Model</class>
                <resourceModel>gblazyload_resource</resourceModel>
            </gblazyload>
            <gblazyload_resource>
                <class>Gbinside_Lazyload_Model_Resource</class>
            </gblazyload_resource>
        </models>
        <blocks>
            <gblazyload>
                <class>Gbinside_Lazyload_Block</class>
            </gblazyload>
        </blocks>
        <helpers>
            <gblazyload>
                <class>Gbinside_Lazyload_Helper</class>
            </gblazyload>
        </helpers>
    </global>
    <frontend>
        <events>
            <http_response_send_before>
                <observers>
                    <gbinside_lazyload>
                        <type>singleton</type>
                        <class>gblazyload/observer</class>
                        <method>httpResponseSendBefore</method>
                    </gbinside_lazyload>
                </observers>
            </http_response_send_before>
        </events>
        <layout>
            <updates>
                <gbinside_lazyload>
                    <file>../../../../../code/community/Gbinside/Lazyload/layout/gblazyload.xml</file>
                </gbinside_lazyload>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <gblazyload translate="title" module="gblazyload">
                                            <label>Gbinside Lazyload</label>
                                        </gblazyload>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>